@model ProdottoListaViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">ProductName</th>
            <th scope="col">CategoryId</th>
            <th scope="col">CategoryName</th>
            <th scope="col">quantità</th>
            <th scope="col">UnitPrice</th>
            <th scope="col">UnitsInStock</th>
            <th scope="col">UnitsOnOrder</th>
            <th scope="col">QuantityPerUnit</th>
            <th scope="col" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prodotti in Model.ProdottoLista)
        {
            <tr>
                <td>@prodotti.ProductId</td>
                <td>@prodotti.ProductName</td>
                <td>@prodotti.CategoryId</td>
                <td>@prodotti.CategoryName</td>
                <td>@prodotti.QuantityPerUnit</td>
                <td>@prodotti.UnitPrice</td>
                <td>@prodotti.UnitsInStock</td>
                <td>@prodotti.UnitsOnOrder</td>
                <td>@prodotti.ReorderLevel</td>
                <td>@prodotti.Discontinued</td>
                <td><a class="btn btn-info" asp-controller="Product" asp-action="Update" asp-route-productId="@prodotti.ProductId">Update a product</a></td>
                <td><a class="btn btn-info" asp-controller="Product" asp-action="Delete" asp-route-productId="@prodotti.ProductId">Delete a product</a></td>
            </tr>
        }
    <a class="btn btn-primary" href="~/Product/Save">Insert and save a product</a>
    </tbody>
</table>